{%extends 'layout.html'%}


{% block body%}
  <!-- Page Header -->

  {% set fname = 'img/'+datas[4] %}
  <header class="masthead" style="background-image: url('{{ url_for('static',filename= fname )}}') ">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{datas[1]}}</h1>
            <h2 class="subheading">{{datas[2]}}</h2>
            <span class="meta">Posted by
              <a href="#">Admin</a>
              on {{datas[5]}}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          {{datas[3]}}

        </div>
      </div>
    </div>
  </article>

{%endblock%}